
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <script src="~/Scripts/PCASClass.js"></script>
</head>
<body>
    <select id="Province" name="Province"></select>
    <select id="City" name="City"></select>
    <select id="Area" name="Area"></select>
    <script type="text/javascript">
        new PCAS("Province", "City", "Area","河北省","保定市","莲池区")
    </script>
</body>
</html>
