
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div> 
        <select size="30">
            <option value="1">abc</option>
            <option value="1">abc</option>
            <option value="1">abc</option>
            <option value="1">abc</option>
        </select>
    </div>
</body>
</html>
